section {
	height: 525px;
}

.link:hover {
	text-decoration: underline;
}

.banner {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	height: 100%;
}

/* boas vindas */
h1 {
	text-color: black; text-align : center;
	font-weight: bold;
	text-align: center;
}

h3, h2, h4, h5, h1 {
	font-weight: bold;
}

h1>p {
	font-size: 25px;
}

/* fim boas-vindas */

/* cardapio */
#secao-cardapio {
	background-color: #FFBD59;
}

/* fim cardapio */
.col-4 {
	width: 20% !important;
}

#secao-servico {
	background-color: rgba(217, 180, 72, 0.3);}

/* sobre */
#sobre-banner {
	background-image: url("../../imgs/img/sobre.webp");
}

#btn-sobre {
	width: 20em;
	height: 3em;
}

/* fim sobre */
#card-cardapio {
	height: 290px;
	background-image:
		url("http://localhost/projetoIntegrador/public/imgs/img/rabanada-doce.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 15em;
	height: 20em;
}

.card-body {
	background-color: white;
	
}

video {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1000;
}
@media (max-width: 1440px){
	.col-4{
	 width:10rem;
	 padding:0%
	}
	
}
