@charset "ISO-8859-1";

* {
    font-family: "lato";
    letter-spacing: 0.5px;
}
#informacoes{
    width: 50%;
    background-color: #d9b4484d;
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 3px 4px 6px #000000b0;
}

#return {
    transform: rotate(180deg);
}

:root {
    --background-principal: #ffbd59;
    --btn-background: #7ebf41;
    --hover: #247137;
    --card-background: #ffbd5991;
}

main {
    margin-top: 20px;
}

#header {
    box-shadow: 3px 4px 6px #000000b0;
}

#header,
#footer {
    background-color: var(--background-principal) !important;

}

.links:hover {
    color: var(--hover) !important;
}

#btn-login {
    width: 10em;
}


/* estilo para os cards */
#card {
    background-color: var(--card-background);
    box-shadow: 3px 4px 6px #000000b0;
    margin-bottom: 20px;
}

.card-footer {
    width: 100%;

}

#card-footer>a>.btn {
    width: 100%;
    background-color: var(--btn-background);
}

#card-footer>a>.btn:hover {
    transition: all ease-in-out linear;
    background-color: var(--hover)
}